on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

name: CI/CD

jobs:
  lint:
    name: Lint, check format and typing
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyVersion: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
        id: setup-uv
        with:
          enable-cache: true
          python-version: ${{ matrix.pyVersion }}
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Run ruff check
        run: uvx ruff check $(git ls-files "*.py")
      - name: Run basedpyright
        run: uvx basedpyright $(git ls-files "*.py")
  test:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyVersion: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
        id: setup-uv
        with:
          enable-cache: true
          python-version: ${{ matrix.pyVersion }}
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Run pytest w/ coverage
        run: uv run pytest --cov -vvv
  push:
    name: Push to PyPi
    runs-on: ubuntu-latest
    if: startsWith(github.event.ref, 'refs/tags/v')
    needs: [lint, test]
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
        id: setup-uv
        with:
          enable-cache: true
          python-version: ${{ matrix.pyVersion }}
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Build
        run: uv build
      - name: Upload
        run: uv publish
